body {
  font-family: helvetica, arial, sans-serif;
  margin: 3em;
  height: 100%;

}

h1 {
  color: #FFDDD2;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.5em;
}
h2 {
  font-family: "Ubuntu", "Times New Roman", sans-serif;
  font-size: 1em;
  border-bottom: 2px solid;
  border-width: 2px;
 max-width: 950px;
   margin-left: 40px;
   margin-top: 150px;
}
ul {
  margin-left: 40px;
  font-family: 'Kufam', cursive;
  font-size: 1.4em;
}
img {
  width: 150px;
  height: auto;
}
header,
footer {
  background-color: #CD5C5C;
  color: #FFDDD2;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  padding: 2px;
}

footer { 
  margin-top: 150px;
}

header { 
  margin-bottom:-100px;
}
