/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  nav button {
    display: none;
  }
  nav ul {
    display: grid;
  }
  nav ul.hide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  nav ul li a {
    text-decoration: none;
    display: block;
    padding: 0.6rem 2%;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    text-align: center;
  }
  main {
    padding: 1em;
  }
  body {
    margin: 1.5em;
  }

  nav ul li.active a {
    font-size: 0.9em;
  }
  header {
    margin-right: auto;
    margin-left: auto;
  }

  div #social {
    display: block;
  }

  .contactinfo {
    display: flex;
  }
  .map {
    width: 250px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }
} /*end medium */
