@media only screen and (min-width: 60em) {
  nav ul {
    display: grid;
  }
  nav ul.hide {
    display: grid;
  }

  h1 {
    color: #774936;
    font-family: "Kufam", cursive;
    font-size: 2em;
  }
  header {
    margin-right: auto;
    margin-left: auto;
  }

  body {
    margin: 2em;
  }
  main {
    padding: 1.5em;
  }

  a:-webkit-any-link {
    border: none;
    padding: 2px;
    text-align: center;
  }
  .summary {
    position: absolute;
    font-size: .9em;
    top: 400px;

    box-shadow: 0 0 30px #111;
  }

  .forcast {
    display: table;
  }

  .forest {
    float: right;
    width: 40%;
    margin: 15px;
  }
  .summary {
    position: absolute;
    box-shadow: 0 0 30px #111;
  }
  .contactinfo {
    display: flex;
  }
  div #social {
    display: block;
  }
  .map {
    width: 250px;
  }
  .Forcast {
    display: block;
  }
}
