@media only screen and (min-width: 60em) {
  /* CSS HEX 
--russian-violet: #4d194dff;
--skobeloff: #00787aff;
--midnight-green-eagle-green: #144552ff;
--pink-lavender: #d7b8e0ff;
*/
  nav ul {
    display: grid;
  }
  nav ul.hide {
    display: grid;
    margin: .4em;
  }
  header {
    /*position: fixed; */
    display: block;
  }

  nav button {
    display: none;
  }
  
#first,
#third {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#third div{
  transform: skew(-10deg);
 

}
.cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
  /*
  .navigation {
    position: fixed;
  }
  */
}