@media only screen and (min-width: 60em) {
  /* CSS HEX 
--russian-violet: #4d194dff;
--skobeloff: #00787aff;
--midnight-green-eagle-green: #144552ff;
--pink-lavender: #d7b8e0ff;
*/
  nav ul {
    display: grid;
  }
  nav ul.hide {
    display: grid;
    margin: .4em;
  }
  header {

    display: block;
  }

  nav button {
    display: none;
  }
  
#first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#third {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#third div{
  transform: skew(-10deg);
 

}
#fifth {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cards, #cards2.grid{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gallery {
  
  grid-template-columns: 1fr 1fr 1fr;

}

.calltoact {
  position: absolute;
  top: 1120px;
  width: 50%;
  border: 1px solid #000;
  padding: 0.5em;
  box-shadow: none;
  color: #322420;
  background: #00787aff;
}
}