/* CSS HEX 
--russian-violet: #4d194dff;
--skobeloff: #00787aff;
--midnight-green-eagle-green: #144552ff;
--pink-lavender: #d7b8e0ff;
*/
/*----------- BODY --------------*/
body {
    font-family:  'PT Sans', sans-serif;
  
  }
  /*----------- HEADER --------------*/
  h1 {
    color: rgb(245, 227, 250);
    font-family: 'Antic Slab', serif;
    font-size: 1.2em;
  }

  header {
    font-size: 1em;
    background-color:#4d194dff;
    color: #d7b8e0ff;
    border: 1px solid #322420;
    margin: 0.3em;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
   
  
  }
  .headings {
    display: flex;
   
  }
  #box1, #social {
      text-align: right;
  }
  .facebook,
.youtube,
.instagram {
  border-radius: 30px;
}
 /*----------- MAIN --------------*/
main {
    margin: 4em;
}
 #first, #third {
       display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 
  }
  #second {
    display: grid;
 grid-template-columns: 1fr 1fr;

}
  #third div{
    margin: 0.5rem;
    border-radius: 1em;
    padding: 0 1rem;
    background-color: #eee;
    box-shadow: 3px 3px 3px #144552ff;
  }
  input.submitBtn {
    border: none;
    background-color: #00787aff;;
    color: white;
    border-radius: 0.6rem;
    padding: 1rem;
    margin: 0 0 2rem 5%;
    width: 96%;
    max-width: 10rem;
  }
  /*----------- NAVIGATION --------------*/

nav ul li.active a {
    color: #fff;
    font-size: 1.5em;
  }
  
  nav ul {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    list-style-type: none;
  
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
   
  }
  
  nav ul.hide {
    display: none;
  }
  nav a:hover {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
  
  }
  
  
  .navigation {
    background-color:#4d194dff;
    color: white;
    font-size: 1em;
 
  }

 

  /*----------- FOOTER --------------*/
footer {
    display: grid;
    background-color: #144552ff;
    color: white;
    text-align: center;
    padding: 2px;
 
    border: 1px solid #322420;
  }