/* CSS HEX 
--russian-violet: #4d194dff;
--skobeloff: #00787aff;
--midnight-green-eagle-green: #144552ff;
--pink-lavender: #d7b8e0ff;
*/
/*----------- BODY --------------*/
body {
    font-family:  'PT Sans', sans-serif;
    margin: 0.3em;
  }
  /*----------- HEADER --------------*/
  h1 {
    color: rgb(245, 227, 250);
    font-family: 'Antic Slab', serif;
    font-size: 1.3em;
  }

  header {
    display: flex;
    background-color:#4d194dff;
    color: #d7b8e0ff;
    margin: 0;
    padding: 0;
    border: 1px solid #322420;
  
    justify-content: center;
  
  }
  .headings {
    display: flex;
  }
  .facebook,
.youtube,
.instagram {
  border-radius: 30px;
}
 /*----------- MAIN --------------*/

 #first, #second, #third {
       display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.5em;
  }
  /*----------- NAVIGATION --------------*/

nav ul li.active a {
    color: #fff;
    font-size: 1em;
  }
  
  nav ul {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    list-style-type: none;
    font-size: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    display: block;
    padding: 0.6rem 2%;
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  nav ul.hide {
    display: none;
  }
  nav a:hover {
    text-decoration: none;
  
    color: #4d194dff;
  }
  
  
  .navigation {
    background-color: #144552ff;
    color: white;
    font-size: 0.6em;
    padding: 0.1rem;
  }

  
  nav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.9rem;
    color: #efcdbd;
  }
  /*----------- FOOTER --------------*/
footer {
    background-color: #144552ff;
    color: white;
    text-align: center;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #322420;
  }