@media only screen and (min-width: 60em) {
  nav ul{
    display: grid;
   
  } 
  h1 {
    color: #774936;
    font-family: "Kufam", cursive;
    font-size: 2em;
  } 
  .moto, .logo{
    padding: 20px;
  }
  a:-webkit-any-link {
    border: none;
    padding: 2px;
    text-align: center;
   
  }
  a.byuilink{
    color: #322420;
    font-size: .8em;
    
  }
}
