@media only screen and (min-width: 60em) {
  nav ul{
    display: grid;
   
  } 
  nav ul.hide {display: grid;}
  h1 {
    color: #774936;
    font-family: "Kufam", cursive;
    font-size: 2em;
  } 
  header {
    display: flex;
      background-color: #EFCDBD;
      color: #774936;
      padding: 2px;
      margin-right: auto;
      margin-left: auto;
      border: 1px solid #322420;
      align-items:center;
      justify-content:center;
      min-width: 200px;
    
      
    }
    body {
      margin: 2em;
    }
    main {
      padding: 1.5em;
    }

  a:-webkit-any-link {
    border: none;
    padding: 2px;
    text-align: center;
   
  }
  a.byuilink{
    color: #322420;
    font-size: .8em;
    
  }
}

